.main {
  box-sizing: border-box;
}

.boxes {
  display: flex;
  gap: var(--box-gap);
}

.boxes:focus {
  outline: none;
}

.box {
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  margin-bottom: 9px;
  font-size: var(--size-lg);
  font-weight: bold;
  text-transform: capitalize;
}

.columns {
  display: flex;
  gap: var(--box-gap);
  color: var(--white);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.letterCount {
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--white);
  background: var(--black);
  cursor: pointer;
}

.letter {
  font-size: var(--size-lg);
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.15;
}

.count {
  font-size: var(--size-sm);
}

.green {
  background: var(--green);
}

.yellow {
  background: var(--yellow);
}

.gray {
  background: var(--gray);
}
