.main {
  box-sizing: border-box;
}

.columns {
  display: flex;
  gap: 5px;
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box {
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d3d6da;
  font-size: 36px;
  font-weight: bold;
}

.letterCount {
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid white;
  background: #404040;
}

.letter {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.count {
  font-size: 14px;
}

.green {
  background: #6aaa64;
}

.yellow {
  background: #c9b458;
}

.gray {
  background: #787c73;
}
